<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currency Converter</title>
</head>
<body>
<form method="POST" action="/">
<p><label for name="converting-from">Converting from </label>
<input type="text" action="#" id="currency_1" name="currency_1" placeholder="enter valid currency (ie USD)"></p>
<p><label for name="converting-to">Converting to </label>
<input type="text" action="#" id="currency_2" name="currency_2" placeholder="enter valid currency (ie EUR)"></p>
<p><label for name="amount">Amount </label>
<input type="text" action="#" id="currency_amount" name="amount" placeholder="amount to convert"></p>

<p><button>convert</button></p>


</form>
</body>
</html>