{% extends 'base.html'%}
{%block content %}

<form method="POST" action="/get_input">
  <p><label for name="converting-from">Converting from </label>
    <input type="text" action="#" id="currency_1" name="currency_1" required maxlength="3" pattern="[A-Za-z ]+"
      placeholder="enter 3 letter currency code (i.e USD)">
  </p>
  <p><label for name="converting-to">Converting to </label>
    <input type="text" action="#" id="currency_2" name="currency_2" required maxlength="3" pattern="[A-Za-z ]+"
      placeholder="enter 3 letter currency code (i.e.EUR)">
  </p>
  <p><label for name="amount">Amount </label>
    <input type="number" step='any' action="#" id="currency_amount" name="amount" required
      placeholder="enter a number">
  </p>



<h2>{{ exchange }} {{symbol}}</h2>

<input type="reset" class="button" onclick="location.href='/';"></button>

</form>
</body>
{%endblock %}
</html>